.padded-container {
  padding: 4.5rem 10vw;
}

.section-heading {
  font-family: Domaine Display Test;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: 0.04rem;
  color: $heading-blue;
  margin-bottom: 3rem;
}

.section-content {
  font: 400 1.25rem/2.125rem "DM Sans";
  color: $light-blue;
  text-align: justify;
}

@include phone-only {
  .padded-container {
    padding: 2.5rem 1.5rem;
  }

  .section-heading {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .section-content {
    font-size: 1rem;
  }
}
